body{
    margin: auto;
    font-family: "arial", "times new roman", serif;
    color:#2b36ff;
}
html, body{
    height: 100%;
}
#header {
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 3%;
}
.container {
    text-align: center;
    background-color: #09D6FF;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 94%;
}
body, #header, #result, #number1{
    background-color: #2b36ff;
}
.buttons{
	    margin: auto;
}
#result, #number1, button{
    color: white;
}
label, #number1, #result, hr, p, .def, .buttons{
    width : 50%;
}
label{
    border-radius: 10px;
}


button{
    background-color: #2b36ff;
    height: 40px;
    font-size: x-large;
    border: 0;
    border-radius: 10px; 
}

button:hover{
    background-color: #5055ee;
}


#number1{
    height: 40px;
    text-align: center;
    font-size: x-large;
    border: 0;
    border-radius: 10px;
}
#result{
    font-size: x-large;
    min-height: 60px;
    margin: auto;
    border-radius: 10px;
    padding: 3px;
}
.def{
    margin: auto;
}
p{
    margin: auto;
    text-align: left;
    font-size: medium;
}
#footer{
    margin: auto;
    width : 50%;
}
#footer_p {
    font-size: small;
    text-align: center;
}